terraform {
  backend "azurerm" {
    resource_group_name  = "{{RESOURCE_GROUP}}"
    storage_account_name = "{{STORAGE_ACCOUNT}}"
    container_name       = "{{CONTAINER_NAME}}"
    key                  = "{{STATE_KEY}}"
  }
}
